/* Ajusta o tamanho da tela para 1920x1080 */
/* .dashboard-container {
  font-family: 'Arial', sans-serif;
  padding: 10px;
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  box-sizing: border-box;
} */

/* Ajuste do título */
h2 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px; /* Diminui o tamanho da fonte */
}

/* Ajuste dos gráficos para ficarem menores */
.charts-container {
  display: flex;

  gap: 5px; /* Diminui o espaço entre os gráficos */

}

/* Ajuste do texto dentro dos gráficos */
.chart-box h3 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 8px; /* Diminui a margem */
  font-size: 14px; /* Diminui o tamanho da fonte */
}

/* Ajuste do canvas (gráfico) */
.chart-box canvas {
  display: block;
  max-width: 100%;
  height: 70%; /* Reduz a altura do gráfico */
}

/* Ajuste do dropdown */
.dropdown-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px; /* Diminui a margem */
  width: 100%;
  font-size: 12px; /* Diminui o tamanho da fonte do rótulo */
}

/* Ajuste do header dos gráficos */
.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  font-size: 12px; /* Diminui o tamanho da fonte */
}

.App {
  width: 100%; /* Mantém a largura completa */
  margin-top: 10px;
}

.App h1 {
  font-size: 12px; /* Diminui o tamanho da fonte do título do mapa */
  text-align: center;
  margin-bottom: 8px;
}

.map-container {
  height: 300px; /* Define uma altura e largura iguais para o formato quadrado */
  width: 300px; /* Define a largura igual à altura */
  border-radius: 8px; /* Mantém as bordas arredondadas, opcional */
  overflow: hidden; /* Garante que o conteúdo do mapa não ultrapasse o contêiner */
  margin: 0 auto; /* Centraliza o mapa na tela */
}
