.dashboard-container,
.dashboard-2ndGrid,
.charts-container
 {
  display: flex;
  justify-content: center;
  align-items: center;
}


.dashboard-container {
  font-family: 'Arial', sans-serif;
  background: #f6f6f6;
  width: 100%;
  height: 100vsh;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  gap: 2rem;
  flex-direction: column;
  flex-wrap: wrap;
}

.reminders {

  width: 100%;
  padding: 2rem 8rem 1rem;
}

.dashboard-2ndGrid {
  width: 100%;
  justify-content: space-evenly;
  padding: 4rem 0 0 0;
}

select {
  border: none;
  border-radius: 5px;
  padding: 2px 0 2px 7px;
  cursor: pointer;
}

option {
  cursor: pointer;
}

.dropdown-container {
  display: flex;
  gap: 1rem;
}

/* Ajuste do título */
.dashboard-container h2 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;

}

.charts-container {
  display: flex;

  gap: 5px;

}

.chart-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: .5rem;

  padding: 30px 15px;
  width: 300px;
  height: 350px;
  background: #eaeaea;
  border-radius: 15px;
}


.chart-box h3 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 8px;

  font-size: 14px;

}


.chart-box canvas {
  display: block;
  max-width: 100%;
  height: 70%;

}


.dropdown-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  width: 100%;
  font-size: 12px;

}


.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  font-size: 12px;
}





.App {

  padding: 30px 15px;
  width: 300px;
  height: 350px;
  background: #eaeaea;
  border-radius: 15px;
}

.App h1 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 14px;
}

.leaflet-container {
  height: 280px !important;
  width: 100%;
  position: relative;
  outline-style: none;
  border-radius: 8px;
}

.map-container {
  height: 300px;
 
  border-radius: 8px;
 
  overflow: hidden;
 
  margin: 0 auto;

}