.root {
    height: 100vh!important;
}

.hCIySa {
    padding: 0 10rem!important;
    height: 10rem!important;
}

.cOTVYA {
    height: 100%!important;
    margin-top: 0!important;
    padding-top: 5rem!important;
}

.gncylm {
    top: 10rem!important;
    right: 12rem!important;

}

.erJOtd {
    padding: 5rem 10rem 0!important;
}

.jnrNdu {
    position: absolute;
    top: 50px!important;
    right: 0!important;
  
    border-radius: 0!important;
    border-bottom-left-radius: 5px!important;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    padding: 10px 0;
}